<%- include("header") -%>
    <div class="box" id="heading">
        <h1><%= listTitle %></h1>
    </div>
    <div class="box">
        <form action="/delete" method="post">
            <% newItem.forEach(item => { %>
                <div class="item">
                    <input type="checkbox" onChange="this.form.submit()" name="checkbox" value="<%= item._id %>">
                    <p><%= item.name %></p>
                </div>
            <% }) %>
            <input type="hidden" name="listName" value="<%= listTitle%>"></input>
        </form>
        <form action="/" method="post">
            <input type="text" name="task" placeholder="new Task" autocomplete="off">
            <button type="submit" name="list" value="<%= listTitle %>">+</button>
        </form>
    </div>
<%- include("footer") -%>

